<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="m-3">About</h1>
        <p class="m-3">ながのCAKEは全国発送可能なケーキ屋さんです。<br/>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br/>
        様々なバリエーションをご用意しております<br/>
        また、全国へ発注可能ですので「いつ」でも「どこでも」ご注文いただけます。<br/>
        ぜひご注文ください</p>
           <div class="about-img m-3"><%= image_tag 'ケーキ.jpeg',style:"width:600px; height:200px;" %></div>
    </div>
  </div>
</div>