<div class="container">
  <div class="row">
    <div class="col">
      <div class="customer-index text-center" style="width:15%; margin-left:10%; margin-bottom:3%;">
        <h4 class="bg-light">会員一覧</h4>
      </div>
          <table class="table mx-auto" style="width:80%;">
            <thead class="bg-light">
              <tr>
                <th>会員ID</th>
                <th>氏名</th>
                <th>メールアドレス</th>
                <th>ステータス</th>
              </tr>
            </thead>
            <% @customers.each do |customer| %>
              <tbody>
                <tr>
                  <td><%= customer.id %></td>
                  <td><%= link_to  customer.last_name + customer.first_name, admin_customer_path(customer.id) %></td>
                  <td><%= customer.email %></td>
                  <% if customer.is_active == true %>
                 <td class="text-success">有効</td>
                  <% else %>
                  <td class="text-success">退会</td>
                  <% end %>
                </tr>
              </tbody>
            <% end %>
          </table>
          <%= paginate @customers %>
    </div>
  </div>
</div>