.pagination{
width: 50%;
margin: auto;
text-align: center;
margin-left: 40%;
}

.pagination>li>a {
 margin:4px;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {    /*背景の色を変える*/
margin: 4px;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
        margin: 4px;

}
